
<div class="row">
  <p>This is your backyard.  Here you can create, edit, and delete <a href="/backyard/webthings/new">webpages ( Webthings )</a>. Only you can see this.</p>
</div>
<table class="twelve columns">
  <thead>
    <tr class=''>
      <th>Date Added</th>
      
      <th>Name</th>
      <th>URL</th>
      

      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @pages.all.each_with_index do |p, i| %>
    <tr class="row-<%=i%>">
      <td><%= p.created_at.to_date %></td>
   
      <td><%= p.name %></td>
      <td><%= link_to p.url, "http://"+p.url %></td>
      <% if p.type.name != 'thing' %>
        <td><%= link_to "edit", edit_backyard_webthing_path(p.id), class:"button button-primary" %></td> 
      <%else%>
      <td></td>
      <%end%>
      <td><%= button_to "delete", {:controller => :webthings, :action => 'destroy', :id => p.id }, :method => :delete %></td>
    </tr>
  <%end%>
  </tbody>
</table>

