
<div class="row margin-40-top">
	<div class="info">You are building a 
		<span class="green"><%=@webpage.type.name%></span> for the
		<span class='blue' >o </span>
		<span class='red' >t </span>
		<span class='yellow' >h </span>
		<span class='blue' >e </span>
		<span class='green' >r </span>
		<span class='yellow' >n </span>
		<span class='red' >e </span>
		<span class='blue' >t </span>
	</div>
</div>

<%= simple_form_for @webpage, :defaults => { :input_html => { :class => "u-full-width" } }, url: url do |f| %>
	<% if @webpage.type.name != 'thing'%>
		<%= render partial: 'builder_form_partial', html: {multipart: true},locals: { form_fields: form_fields, f: f, edit: @webpage.id.present?, url: backyard_webthings_path } %>
	<% else %>
		<div class="row">
		<% form_fields.each do |field|%>
			<% if field.type == 'hidden' %>
				<%= f.input field.attribute, as: :hidden %>
			<%end%>
			<% if field.type == 'text' %>
				<%= f.input field.attribute, required: false %>
			<%end%>

			<% if field.type == 'file_field' %>
				<%= f.file_field field.attribute,name: field.input_name, multiple: true  %>
			<%end%>
		<%end%>
		</div>
	<%end%>

<div class="row">

 	<% if edit %>
 		<input type="submit" name="commit" value="Save" class="btn btn-default">
 		<input type="hidden" name="_method" value="put">
		<%= button_to "delete", {:controller => :webthings, :action => 'destroy', :id => @webpage.id }, :method => :delete %>
		<script>
		$( "input[value='delete']" ).remove()
		</script>
	<%else%>
		<%= submit_tag 'Save', class: "btn btn-default" %>
	<%end%> 
<%end%>
</div>
<div class="info">
	<% if @webpage.type.name == 'thing'%>
		<%= render partial: 'thing_instructions_partial' %>
	<% end %>
</div>
