<!DOCTYPE html>
<html>
<head>
  <title>Othernet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="twelve columns"><h3 class='othernet'>    <span class='blue' >o </span>
    <span class='red' >t </span>
    <span class='yellow' >h </span>
    <span class='blue' >e </span>
    <span class='green' >r </span>
    <span class='yellow' >n </span>
    <span class='red' >e </span>
    <span class='blue' >t </span> :: n e i g h b o r h o o d </h3></div>

		</div>
		
		<div class="row">
    	<div class="three columns left-column">
        <ul>
          <li class='header'>Here
              <ul>
                <li><a href="/search/control">Search</a></li>
                <li><a href="/neighborhood/home">Neighborhood</a></li>
              </ul>
          </li> 
          <li class='header'>WTF
            <ul>
                <li><a href="/wtf">What</a></li>
                <li><a href="/where">Where</a></li>
                <li><a href="/how">How</a></li>
            </ul>
          </li>
          <li class='header'>Events
            <ul>
                <li><a href="/when">When</a></li>
            </ul>
          </li>
          <li class='header'>
            Backyard
            <ul>
              <% if neighbor_signed_in? %>
                <li><%= link_to "You", backyard_path %> </li>
                <li><%= link_to "logout", destroy_neighbor_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "sign up", new_neighbor_registration_path %> </li>

                <li><%= link_to "login", new_neighbor_session_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>	
      </div>

    		<div class="nine columns">
    			<%= yield %>
          <a class='button'href="/neighborhood/home">Home</a>
          <a class='button'href="/how">?</a>

    		</div>
  		</div>
	</div>
</body>
</html>
