<!DOCTYPE html>
<html>
<head>
  <title>Othernet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="twelve columns"><h3 class='othernet'>o t h e r n e t :: b a c k y a r d </h3>
			</div>           
        </div>

		
		
		<div class="row">
    	<div class="three columns left-column">
        <ul>
          <li class='header'>Webthings
            <ul>
                <li><%= link_to "New Webthing", new_backyard_webthing_path %></li>
            </ul>
          </li>
          <li class='header'>
            Account
            <ul>
              <% if neighbor_signed_in? %>
                <li><%= link_to "You", backyard_path %> </li>
                <li><%= link_to "logout", destroy_neighbor_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </li>
          

      </div>

		<div class="nine columns">
			<%= yield %>
		</div>

	</div>
</body>
</html>

</html>
